.embla {
  width: 100%;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
   padding: 0 12px; 
}

.embla__container {
  display: flex;
  /* gap: 12px; */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;
  margin-left: -12px; 
  gap: 0px;
}

.embla__slide {
  flex: 0 0 80%;
  padding-left: 12px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 40%;
  }
}

.embla__slide__inner {
  border-radius: 16px;
  overflow: hidden;
  /* background: #f2f2f2; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.embla__controls {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 12px;
}

.embla__btn {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
}

.embla__dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

.embla__dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  border: 0;
  background: #cfcfcf;
  cursor: pointer;
}

.embla__dot.is-selected {
  background: #111;
}
