@import "tailwindcss";
@plugin "daisyui";

/* @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+Thai:wght@100..900&display=swap'); */
button {
  cursor: pointer;
}

html,
body {
  font-family: "Anuphan", sans-serif !important;
    font-family: var(--font-anuphan), var(--font-noto-thai),system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  font-weight: 500;
  color: black;
}
.body_background_front {
  background-image: linear-gradient(
    to right,
    #fffefa 0%,
    #fffaed 51%,
    #f3f3f3 100%
  );
}
.zoominoutimgaka {
  animation: zoominout2 2s ease-in-out infinite both;
}
@keyframes zoominout2 {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.btn_login_main {
  .-btn-actions .btn_login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 0;
    font-size: 1.35rem;
    font-weight: 600;
    border-radius: 30px;
    transition: none;
  }

  .btn_login {
    display: inline-block;
    font-weight: 400;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 2px;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .-btn-actions {
    margin-top: 0rem;
    min-height: 90px;
  }

  .-btn-actions .-register-btn {
    position: absolute;
    /* top: 30px; */
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 20px;
    color: #000;
    transition: all 0.2s;
  }

  .-btn-actions .-register-btn .-glow-container {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 90px;
    height: 90px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /* -webkit-animation: x-index-button-register-circle-sonar 1s infinite;
      animation: x-index-button-register-circle-sonar 1s infinite; */
    transition: all 1s linear;
    border-radius: 40px;
    /* box-shadow: 0 0 10px 3px #d0a94d; */
  }

  .-btn-actions .-register-btn .-card {
    position: absolute;
    z-index: 1;
    left: -30px;
    top: 8px;
    width: 60px;
    -webkit-animation: x-index-button-register-card-mover 0.5s infinite
      alternate;
    animation: x-index-button-register-card-mover 0.5s infinite alternate;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .-btn-actions .-register-btn .-ball {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80px;
    -webkit-animation: x-index-button-register-ball-mover 20s infinite;
    animation: x-index-button-register-ball-mover 20s infinite;
  }

  .-btn-actions .-register-btn .-dice {
    position: absolute;
    z-index: 3;
    top: 40px;
    left: -15px;
    width: 45px;
    -webkit-animation: x-index-button-register-dice-mover 1s infinite alternate;
    animation: x-index-button-register-dice-mover 1s infinite alternate;
  }

  .-btn-actions .-register-btn .-text {
    position: absolute;
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  @media (max-width: 991px) {
    .-btn-actions .-register-btn .-glow-container {
      top: -7px;
      left: -6px;
      width: 80px;
      height: 80px;
    }
  }
}

@-webkit-keyframes x-index-button-register-circle-sonar {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(1) translate(0);
    transform: scale(1) translate(0);
  }

  40% {
    opacity: 0.5;
  }

  to {
    -webkit-transform: scale(1.4) translate(0);
    transform: scale(1.4) translate(0);
    opacity: 0;
  }
}

@keyframes x-index-button-register-circle-sonar {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(1) translate(0);
    transform: scale(1) translate(0);
  }

  40% {
    opacity: 0.5;
  }

  to {
    -webkit-transform: scale(1.4) translate(0);
    transform: scale(1.4) translate(0);
    opacity: 0;
  }
}

@-webkit-keyframes x-index-button-register-card-mover {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

@keyframes x-index-button-register-card-mover {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
}

/* .-btn-actions .-register-btn .-button-bg {
    width: 100%;
    height: auto;
} */

@-webkit-keyframes x-index-button-register-dice-mover {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  15% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  45% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  75% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes x-index-button-register-dice-mover {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  15% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  45% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  75% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@-webkit-keyframes x-index-button-register-ball-mover {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0);
  }

  to {
    -webkit-transform: translateY(-50%) rotate(1turn);
    transform: translateY(-50%) rotate(1turn);
  }
}

@keyframes x-index-button-register-ball-mover {
  0% {
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0);
  }

  to {
    -webkit-transform: translateY(-50%) rotate(1turn);
    transform: translateY(-50%) rotate(1turn);
  }
}

/*tabs */
.tabs_package
  .tabs-box
  > :is(
    .tab-active,
    [aria-selected="true"],
    [aria-current="true"],
    [aria-current="page"]
  ):not(.tab-disabled, [disabled]),
.tabs-box > :is(input:checked),
.tabs-box > :is(label:has(:checked)) {
  background-color: #d90224 !important;
  color: white !important;
  border-radius: 50px;
}
.tabs_package .tabs-box {
  border-radius: 50px !important;
  border: 2px solid #cfcfcf;
}

/*animation head*/
.updown1 {
  animation: x-updown1 10s ease-in-out infinite;
}
@keyframes x-updown1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.anime_LtoR {
  animation: x-bg-1 8s ease infinite;

  animation-delay: 1s;
}
@keyframes x-bg-1 {
  0% {
    transform: translate(0) rotate(0);
  }

  50% {
    transform: translate(-30px, 15px) rotate(-1deg);
  }

  100% {
    transform: translate(0) rotate(0);
  }
}
